<div class="alert alert-info alert-dismissible fade show m-1" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      You must be <%= link_to 'signed in', new_user_session_path %> to perform this action
    </span>
  </button>
</div>
