<div class="rec rec-l1"></div>
<div class="rec rec-l2"></div>
<div class="rec rec-l3"></div>
<div class="rec rec-m1"></div>
<div class="rec rec-m2"></div>
<div class="rec rec-r1"></div>
<div class="rec rec-r2"></div>
<div class="rec rec-r3"></div>
