<div class=" d-flex justify-content-center align-items-center container" style="height:100vh;">
  <h1>Nous nous engageons à ne collecter aucun renseignement personnel, d'aucune sorte que ce soit.</h1>
</div>
