<div class="d-flex post-item">
  <div class="avatar"></div>
  <div class="post-item-details">
    <div><%= post.user.username %></div>
    <div class="post-item-title"><%= post.title %></div>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <i class="fas fa-play post-item-play"></i>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </div>
  </div>
</div>
