.alert {
  position: fixed;
  padding: 0.5rem !important;
  top: 16px;
  right: 16px;
  z-index: 99999999;
  background: none;
  border: none;
  button {
    background: #fff4de;
    width: 230px;
    opacity: 1;
    border-radius: 20px;
    color: black;
    span {
      font-size: 12px;
      font-weight: 600;
      text-shadow: none;
      color: black;
      i {
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
}
