.shazam-big-logo {
  width: 140px;
  height: 140px;
}

.photo-icon {
  width:40px;
  height:40px;
  background-color:white;
  border-radius: 50%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-camera {
  color: #008EFE;
  font-size: 20px;
}

.fa-compass {
  font-size: 24px;
}

.fa-circle {
  font-size: 8px;
  color: white;
}
