.no-result-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  background: white;
}

.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: bold;
    color: $shazam;
    margin-top: 24px;
  }
  p {color: #6c6c6c}
}

.cross {
  position: absolute;
  top: 24px;
  right: 20px
}

#btn-submit-post {
  padding: 12px 60px;
  background: $shazam;
  border-radius: 30px;
  h6 {
    color: white;
    margin: 0;
    font-weight: bold;
  }
}
