.post-item {
  position: relative;
  height: 90px;
  align-items: center;
  border-bottom: 1px solid $sgray;
}
.post-item-details {
  width: 80%;
}
.post-item-details :first-child {
  color: #999999;
}

.post-item-play {
  font-size: 12px;
}
.post-item-title {
  font-size: 14px;
}

.fa-ellipsis-h {
  color: #999999;
}

.post-view {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 300;
}

.post-username {
  font-weight: 300;
}

.post-item-title {
  color: rgb(93, 93, 93);
  font-size: 12px;
}

.post-dots {
  color: rgb(93, 93, 93);
}

.playing {
  background: #f7f7f7;
}

.play-view {
  height: 21px;
}
