.rec {
  position: absolute;
  border-radius: 6px;
}

.rec-l1 {
  width: 40vw;
  top: -8px;
  left: -20vw;
  height: 120px;
  background-image: linear-gradient(to top, rgba(220, 220, 220, 0.15), rgba(220, 220, 220, 0.05));
}

.rec-l2 {
  width: 40vw;
  height: 180px;
  left: -20vw;
  top: 122px;
  background-image: linear-gradient(to top, rgba(220, 220, 220, 0.05), rgba(220, 220, 220, 0.15));
}

.rec-l3 {
  width: 40vw;
  height: 42px;
  left: -20vw;
  top: 312px;
  background-image: linear-gradient(to bottom, rgba(220, 220, 220, 0.08), rgba(220, 220, 220, 0.02));
}

.rec-m1 {
  width: 54vw;
  height: 200px;
  top: -8px;
  left: 23vw;
  background-image: linear-gradient(to top, rgba(220, 220, 220, 0.15), rgba(220, 220, 220, 0.05));
}

.rec-m2 {
  width: 54vw;
  height: 150px;
  left: 23vw;
  top: 203px;
  background-image: linear-gradient(to top, rgba(220, 220, 220, 0.05), rgba(220, 220, 220, 0.15));
}

.rec-r1 {
  width: 40vw;
  height: 44px;
  top: -8px;
  right: -20vw;
  background-image: linear-gradient(to top, rgba(220, 220, 220, 0.15), rgba(220, 220, 220, 0.05));
}

.rec-r2 {
  width: 40vw;
  height: 200px;
  right: -20vw;
  top: 45px;
  background: rgba(220, 220, 220, 0.1)
}

.rec-r3 {
  width: 40vw;
  right: -20vw;
  height: 100px;
  top: 255px;
  background-image: linear-gradient(to top, rgba(220, 220, 220, 0.05), rgba(220, 220, 220, 0.15));
}

